.popular-container {
  margin: 38px 90px;
  text-align: center;
  :first-child img {
    width: 37%;
    height: 250px;
  }
  :nth-child(2) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(3) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(4) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(5) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(6) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(7) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(8) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(9) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(10) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(11) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(12) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(13) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(14) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(15) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(16) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(17) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(18) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(19) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(20) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(21) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(22) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(23) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(24) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(25) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(26) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(27) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(28) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(29) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(30) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(31) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(32) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(33) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(34) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(35) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(36) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(37) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(38) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(39) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(40) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(41) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(42) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(43) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(44) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(45) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(46) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(47) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(48) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(49) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(50) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(51) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(52) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(53) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(54) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(55) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(56) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(57) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(58) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(59) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(60) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(61) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(62) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(63) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(64) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(65) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(66) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(67) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(68) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(69) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(70) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(71) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(72) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(73) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(74) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(75) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(76) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(77) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(78) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(79) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(80) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(81) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(82) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(83) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(84) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(85) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(86) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(87) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(88) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(89) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(90) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(91) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(92) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(93) img{
    width: 17%;
    height: 250px;
  }
  :nth-child(94) img{
    width: 37%;
    height: 250px;
  }
  :nth-child(95) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(96) img{
    width: 30%;
    height: 250px;
  }
  :nth-child(97) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(98) img{
    width: 20%;
    height: 250px;
  }
  :nth-child(99) img {
    width: 37%;
    height: 250px;
  }
  :nth-child(100) img{
    width: 17%;
    height: 250px;
  }
}
.popular-photo {
  img {
    border-radius: 6px;
    margin: 6px;
    object-fit: cover;
  }
}
