<div class="footer-copy">
  <p class="footer-image">
      <%= image_tag("female-technologist.png", id:"footer-image") %>
  </p>
  <p class="footer-thanks">Thank you!</p>
  <p class="footer-note">(no, seriously, hire me)</p>
</div>
