<div class="hero-photo">
    <%= image_tag("cover-photo.png", id:"cover-photo") %>
  <div class="hero-copy">
    <p class="hero-logo">
        <%= image_tag("500px.svg", id:"five-logo") %>
    </p>
    <p class="hero-name">By Ariane Deschenes Foucher</p>
    <p class="hero-title">500px most popular pictures</p>
  </div>
</div>
